html, body, #map { width: 100%; height: 100%; margin: 0; background: #fff;}

.popup {
   font-family: 'Open Sans', cursive;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend {
   line-height: 15px;
   width: 160px;
   color: #333333;
   font-family: 'Open Sans', cursive;
   padding: 6px 8px;
   background: grey;
   background: rgba(255, 255, 255, 0.5);
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
   border-radius: 7px;
}

.legend i {
   width: 20px;
   height: 16px;
   float: left;
   margin-right: 8px;
   opacity: 0.9;
}

.legend img {
   width: 40px;
   height: 40px;
   margin-right: 3px;
   float: left;
}

.leaflet-container .leaflet-control-mouseposition {
   background-color: rgba(255, 255, 255, 0.7);
   box-shadow: 0 0 5px #bbb;
   padding: 0 5px;
   margin: 0;
   color: #333;
   font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}


#info {
z-index: 1000;
position: absolute;
width: 500px;
top: 1%;
bottom: 1%;
left: .5%;
padding: 40px 15px 900px 15px;
background: #343a40;
color: white;

}

@media only screen and (max-width: 1026px) {
#info, {
visibility: hidden !important;
}
}


::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
   border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#introgap{
   background: white;
   border-radius: 20px;
   padding-left:5em;
   font-size: 5px;
}

#introgap p{
   font-size: 5px;
}

#info{
   border-radius: 10px;
   visibility: visible;
   overflow: auto;
   box-shadow: 3px 0px #343a40;
}


#info a {
  color: white;
}

#info a:hover {
  color: white;
  opacity: 0.3;
}

#info h4 i {
  font-size: 1.25e;
  padding-right: 10px
}

#info p{
  font-size: 15px;
  font-style: bold;
}


#title {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

/* social media icons */
#title span {
  font-size: 14px;
  float: right;
  margin-right: 10px;
}

#placename {
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
}

/* card decks */
#desc {
  text-align: center;
  color: lightgray;
  font-size: medium;
  font-weight: bold;
}

#placename_intro{
   margin-top: 13px;
   font-size: 25px;
   font-size: bold;
}

#datasource{
   background-color: gray;
   border-radius: 10px;
   padding: 5px;
}

#county-count {
  margin:0;
  text-align: center;
  color: orange;
  font-size: 50px;
}

#county-chart {
  top: 20px;
}

#footer {
  margin-top: 50px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 150%;
  color: lightgray;
}

text {
  fill: white
}

.tick line {
  stroke: grey;
}

.c3-axis path {
  stroke: gray;
}


.c3-axis-y text
{
  font-size: 13px; //change the size of the fonts
}
.c3-axis-x text
{
  font-size: 13px; //change the size of the fonts
}



/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  visibility: visible;
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  border-radius: 3px;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.section_name{
   background-color: gray;
   border-radius: 10px;
   padding: 10px;

}
.section_name p {
   font-size: 20px;
   font-style: oblique;
}

#refreshButton {

  top: 20px;
  right: 20px;
  padding: 10px;
  z-index: 900;
}
